/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 30%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

 @font-face { font-family: NoTo; src: url('/fonts/nsr.ttf'); } 

.header-text h1 {
    /* font-size: 50px; */
    font-family: NoTo;
    line-height: 0.9;
    text-shadow: 4px 4px 10px rgba(150, 150, 150, 1);
}

.section-wrapper {
    /* padding: 30px 8% 30px 8%; */
    background-color: transparent;
}



.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.submitted {
    color: #F5FF00;
}

.home-search-button {
   background: #0DDA01;
   color: white;
   padding: 0px;
   font-size: 1.8vw;
   cursor: pointer;
   border: 0px;
}

.home-search-button:hover {
    background:#078100;
    color: white;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
 }


    @media only screen and (min-width : 320px) {
    
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .smaller-input {
            width: 60%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .smaller-input {
            width: 40%;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .smaller-input {
            width: 40%;
        }
    }
